<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="tn.esprit.authentification">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Authentification">
        <activity
            android:name=".ActivityRestoItalie"
            android:exported="true" />
        <activity
            android:name=".ActivityRestoAngleterre"
            android:exported="true" />
        <activity
            android:name=".ActivityRestoEspagne"
            android:exported="true" />
        <activity
            android:name=".ActivityRestoTurquie"
            android:exported="true" />
        <activity
            android:name=".ActivityRestoTunisie"
            android:exported="true" />
        <activity
            android:name=".ActivityHotelEspagne"
            android:exported="true" />
        <activity
            android:name=".ActivityHotelTurquie"
            android:exported="true" />
        <activity
            android:name=".ActivityHotelTunisie"
            android:exported="true" />
        <activity
            android:name=".ActivityHotelItalie"
            android:exported="true" />
        <activity
            android:name=".ActivityHotelAngleterre"
            android:exported="true" />
        <activity
            android:name=".ActivityRestoFrance"
            android:exported="true" />
        <activity
            android:name=".ActivityHotelFrance"
            android:exported="true" />
        <activity
            android:name=".ActivityTunisieHome"
            android:exported="true" />
        <activity
            android:name=".ActivityTurquieHome"
            android:exported="true" />
        <activity
            android:name=".ActivityItalieHome"
            android:exported="true" />
        <activity
            android:name=".ActivityEspagneHome"
            android:exported="true" />
        <activity
            android:name=".ActivityAngleterreHome"
            android:exported="true" />
        <activity
            android:name=".ActivityFranceHome"
            android:exported="true" />
        <activity
            android:name=".MainActivity3"
            android:exported="true" />
        <activity
            android:name=".MainActivity2"
            android:exported="true" />
        <activity
            android:name=".Home"
            android:exported="true" />
        <activity
            android:name=".login"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>